* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px;
  background-color: oklch(93.37% 0.0339 12.05);
  background-image:
    linear-gradient(to right, rgba(0,0,0,0.08) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,0.08) 1px, transparent 1px);
  background-size: 20px 20px;
  color: oklch(0% 0 0);
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.head {
  align-self: center;
  font-size: 32px;
  font-weight: 700;
  color: oklch(70.79% 0.1862 16.25);
}

.section-title {
  font-size: 18px;
  font-weight: 600;
}

.card {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  background-color: oklch(70.79% 0.1862 16.25);
  border: 2px solid black;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 4px 4px 0 black;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: black;
}

.container {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 9px;
}

.profile {
  min-width: 90px;
  padding: 6px;
  border: 2px solid black;
  box-shadow: 3px 3px 0 black;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.active {
  background-color: oklch(70.79% 0.1862 16.25);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: black;
}

.name {
  font-size: 12px;
  color: black;
  font-weight: 700;
}

.scroll {
  max-height: 120px;
  overflow-y: auto;
}

.score-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dotted oklch(0% 0 0);
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.score {
  font-size: 30px
}

.scroll::-webkit-scrollbar,
.container::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.scroll::-webkit-scrollbar-thumb,
.container::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-track,
.container::-webkit-scrollbar-track {
  background: transparent;
}

input {
  padding: 8px;
  border: 2px solid black;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  box-shadow: 3px 3px 0 black;
}

input:focus {
  outline: none;
  background-color: oklch(93.37% 0.0339 12.05);
}

button {
  margin-top: 6px;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid black;
  background-color: oklch(70.79% 0.1862 16.25);
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 4px 4px 0 black;
}

button:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0 black;
}

label {
  font-size: 13px;
  font-weight: 600;
}

.error {
  font-size: 13px;
  font-weight: 600;
}

.hidden {
  display: none;
}
